body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td{
    vertical-align: inherit;
    font-size: 18px;
}

.navbar-default .navbar-nav > li > a{
    font-size: 20px;
}

.navbar-default .navbar-brand{
    font-size: 22px;
    color: darkgreen;
}

.navbar-default .navbar-nav > li > a {
    color: darkslategray;
}

.navbar-default .navbar-nav > li > a:hover {
    color: seagreen;
}

h2, .h2{
    color: darkslategrey;
}

.table caption + thead tr:first-child th, .table colgroup + thead tr:first-child th, .table thead:first-child tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child td{
    color: darkslategrey;
    font-size: 19px;
}

.btn{
    font-size: 18px;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline{
    font-size: 18px;
}

.display-none {
  display: none;
}


